# Dependency directories
node_modules/

# Environment variables (sensitive information)
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/
.next/
temp/

# Log files
*.log

# OS-specific files (Mac)
.DS_Store

# OS-specific files (Windows)
Thumbs.db

# Coverage directory (for testing)
coverage/

# Temporary files
*.tmp
*.temp

# Cache directories
.cache/
.nyc_output/

# Ignore lockfiles (optional, if you're not committing lock files)
package-lock.json
yarn.lock

# IDE-specific files
.vscode/
.idea/

# Production files for Electron
out/
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
